<ion-header>
    <ion-toolbar class="transparent titulo">
        <ion-buttons slot="start">
            <ion-button (click)="listaMenu()">
                <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Automação com NodeMCU</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content>

    <ion-card class="ion-padding">
        <ion-card-header>
          <ion-card-subtitle>Sensores001</ion-card-subtitle>
          <ion-card-title>Temperatura</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <ion-icon name="thermometer"></ion-icon>30 °C
        </ion-card-content>

        <ion-card-header>
            <ion-card-subtitle>Sensores001</ion-card-subtitle>
            <ion-card-title>Umidade</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-icon name="water"></ion-icon>40%
          </ion-card-content>
      </ion-card>

<div class="fundo"></div>      
    <app-menu></app-menu>
</ion-content>